/**
 * Supplemental styles for using idMyGadget for device detection
 * in the protostar theme.
 *
 */

/* #phone-burger-menu-left (
 *	clear: both;
 * }
 * #phone-burger-menu-right (
 *	clear: both;
 * }
 */

div.site-logo {
	display: block;
}

.site-name-phone, .site-name-tablet, .site-name-desktop {
	color: black;
	display: inline;
	font-weight: bold;
	margin-left: 0.5em;
	text-decoration: underline;
}

.site-name-phone {
}
.site-name-tablet {
	color: green;
	font-size: 50px;
}
.site-name-desktop {
}

.site-title-phone, .site-title-tablet, .site-title-desktop {
	color: black;
	display: inline;
	font-weight: bold;
	margin-left: 0.5em;
	vertical-align: middle;
}

.site-title-phone {
	color: blue;
}
.site-title-tablet {
	color: green;
}
.site-title-desktop {
	line-height: 1.5em;
	vertical-align: baseline;
}

.site-description-phone, .site-description-tablet, .site-description-desktop {
	color: black;
	font-style: italic;
	margin-left: 0.5em;
}

.site-description-phone {
	margin-top: 0.4em;
}
.site-description-tablet {
	color: green;
}
.site-description-desktop {
	color: blue;
}

