/**
 * Supplemental styles for using idMyGadget for device detection
 * in the protostar theme.
 *
 */

/* #phone-burger-menu-left (
 *	clear: both;
 * }
 * #phone-burger-menu-right (
 *	clear: both;
 * }
 */

div.site-logo {
	display: block;
}

.site-name-phone, .site-name-tablet, .site-name-desktop {
	color: #202020;
	display: inline;
	font-weight: bold;
}

.site-title-phone, .site-title-tablet, .site-title-desktop {
	color: blue;
	display: inline;
	font-weight: bold;
}

.site-title {
	display: inline;
}

.site-description-phone, .site-description-tablet, .site-description-desktop {
	color: blue;
	font-style: italic;
}

